Criação dos dados

In [0]:
import pandas as pd
import numpy as np

Criação do rotulo da anaminase

In [0]:
features=('idade','hipertensão','diabetes','asma','oncologia','tosse','coriza','falta de ar','febre','dor de cabeça','pulsação')
type(features)

tuple

Criação da catergoria Azul a ser atendiada pelo UPA

In [0]:
from random import randrange, uniform,randint
df = pd.DataFrame()
a,b,c,d,e,f,g,h,j,o,q=[],[],[],[],[],[],[],[],[],[],[]

for i in range (10000):
      a+=([randint(5,45)])
      if a[i] > 20:
        b+=([randint(0,1)])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([0])
        j+=([round((uniform(36.5,37)),1)])
        o+=([randint(0,1)])
        q+=([randint(65,100)])
      else:
        b+=([0])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([0])
        j+=([round((uniform(36.5,37)),1)])
        o+=([randint(0,1)])
        q+=([randint(65,100)])

In [0]:
azul=pd.DataFrame(data=(a,b,c,d,e,f,g,h,j,o,q))
azul=azul.T
azul.columns=features
azul.head()

   idade  hipertensão  diabetes  ...  febre  dor de cabeça  pulsação
0   36.0          1.0       1.0  ...   37.0            0.0      99.0
1   30.0          0.0       1.0  ...   36.5            0.0      69.0
2   28.0          1.0       0.0  ...   37.0            0.0      66.0
3    9.0          0.0       1.0  ...   37.0            0.0      85.0
4    8.0          0.0       0.0  ...   36.7            1.0      66.0

[5 rows x 11 columns]

Criação da catergoria Verde ser atendiada pelo UPA

In [0]:
from random import randrange, uniform,randint
df = pd.DataFrame()
a,b,c,d,e,f,g,h,j,o,q=[],[],[],[],[],[],[],[],[],[],[]

for i in range (10000):
      a+=([randint(5,45)])
      if a[i] > 20:
        b+=([randint(0,1)])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([0])
        j+=([round((uniform(37.8,38)),1)])
        o+=([randint(0,1)])
        q+=([randint(100,120)])
      else:
        b+=([0])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([0])
        j+=([round((uniform(37.8,38)),1)])
        o+=([randint(0,1)])
        q+=([randint(100,120)])

In [0]:
verde=pd.DataFrame(data=(a,b,c,d,e,f,g,h,j,o,q))
verde=verde.T
verde.columns=features
verde.head()

   idade  hipertensão  diabetes  ...  febre  dor de cabeça  pulsação
0   13.0          0.0       0.0  ...   37.9            0.0     111.0
1   10.0          0.0       1.0  ...   37.9            0.0     119.0
2   28.0          1.0       1.0  ...   37.9            1.0     112.0
3   21.0          0.0       1.0  ...   38.0            1.0     106.0
4   25.0          0.0       0.0  ...   37.9            0.0     116.0

[5 rows x 11 columns]

Criação da catergoria Amarelo a ser atendiada pelo UPA

In [0]:
from random import randrange, uniform,randint
df = pd.DataFrame()
a,b,c,d,e,f,g,h,j,o,q=[],[],[],[],[],[],[],[],[],[],[]

for i in range (10000):
      a+=([randint(5,70)])
      if a[i] > 20:
        b+=([randint(0,1)])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([randint(0,1)])
        j+=([round((uniform(37.8,39)),1)])
        o+=([randint(0,1)])
        q+=([randint(60,120)])


      else:
        b+=([0])
        c+=([randint(0,1)])
        d+=([0])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([0])
        j+=([round((uniform(37.8,39)),1)])
        o+=([randint(0,1)])
        q+=([randint(60,120)])

NameError: ignored

In [0]:
amerelo=pd.DataFrame(data=(a,b,c,d,e,f,g,h,j,o,q))
amerelo=amerelo.T
amerelo.columns=features
amerelo.head()

   idade  hipertensão  diabetes  ...  febre  dor de cabeça  pulsação
0   47.0          0.0       0.0  ...   38.1            0.0      78.0
1   36.0          1.0       1.0  ...   38.5            1.0     106.0
2   67.0          0.0       0.0  ...   38.5            1.0      97.0
3   48.0          1.0       0.0  ...   38.6            0.0      68.0
4   27.0          0.0       1.0  ...   37.9            1.0      99.0

[5 rows x 11 columns]

Criação da catergoria Vermelho a ser atendiada pelo UPA

In [0]:
from random import randrange, uniform,randint
df = pd.DataFrame()
a,b,c,d,e,f,g,h,j,o,q=[],[],[],[],[],[],[],[],[],[],[]

for i in range (10000):
      a+=([randint(5,70)])
      if a[i] > 20:
        b+=([randint(0,1)])
        c+=([randint(0,1)])
        d+=([randint(0,1)])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([1])
        j+=([round((uniform(39,40)),1)])
        o+=([randint(0,1)])
        q+=([randint(35,150)])
  

      else:
        b+=([0])
        c+=([randint(0,1)])
        d+=([randint(0,1)])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([1])
        j+=([round((uniform(39,40)),1)])
        o+=([randint(0,1)])
        q+=([randint(60,120)])

In [0]:
laranja=pd.DataFrame(data=(a,b,c,d,e,f,g,h,j,o,q))
laranja=laranja.T
laranja.columns=features
laranja.head()

   idade  hipertensão  diabetes  ...  febre  dor de cabeça  pulsação
0   21.0          1.0       0.0  ...   39.2            0.0      71.0
1   58.0          1.0       0.0  ...   39.5            0.0      85.0
2   64.0          0.0       1.0  ...   39.8            0.0      99.0
3   28.0          1.0       1.0  ...   39.1            0.0     108.0
4   36.0          0.0       0.0  ...   39.9            1.0     106.0

[5 rows x 11 columns]

In [0]:
from random import randrange, uniform,randint
df = pd.DataFrame()
a,b,c,d,e,f,g,h,j,o,q=[],[],[],[],[],[],[],[],[],[],[]

for i in range (10000):
      a+=([randint(5,70)])
      if a[i] > 20:
        b+=([randint(0,1)])
        c+=([randint(0,1)])
        d+=([randint(0,1)])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([1])
        j+=([round((uniform(37.8,41)),1)])
        o+=([1])
        q+=([randint(35,150)])
  

      else:
        b+=([0])
        c+=([randint(0,1)])
        d+=([randint(0,1)])
        e+=([randint(0,1)])
        f+=([randint(0,1)])
        g+=([randint(0,1)])
        h+=([1])
        j+=([round((uniform(37.8,40)),1)])
        o+=([1])
        q+=([randint(35,150)])

In [0]:
vermelho=pd.DataFrame(data=(a,b,c,d,e,f,g,h,j,o,q))
vermelho=vermelho.T
vermelho.columns=features
vermelho.head()

   idade  hipertensão  diabetes  ...  febre  dor de cabeça  pulsação
0   63.0          0.0       0.0  ...   40.3            1.0     114.0
1   19.0          0.0       1.0  ...   39.8            1.0      42.0
2   34.0          1.0       0.0  ...   38.4            1.0      70.0
3   43.0          0.0       0.0  ...   40.5            1.0     125.0
4   70.0          1.0       1.0  ...   38.1            1.0     118.0

[5 rows x 11 columns]